.container-1440 {
    width: 1440px;
}

[class*="col-"] {
    border: 1px white solid;
    background-color: #006cfa;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

span{
    color: white;
}

.row-margin{
    margin-bottom: 20px;
}

/* nested green */

.row-green {
    width: 95%;
    margin: auto;
}

.col-tall {
    height: 80px;
}

.col-green{
    background-color: #00e165;
    border: 1px solid #006cfa;
}